* {
    margin: 0;
    padding: 0;
    border: none;
}

.container{
    background-color: rgb(245, 244, 244);
}

.header, .footer{
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.footer{
    color: green;
}

#header{
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.subtitle{
    margin: 40px;
}

h1, h2, h4{
    font-family: 'Kumbh Sans', sans-serif;
}

.header > h1{
    font-size: 200px;
}

.footer > h1{
    font-size: 50px;
}

h2{
    font-size: 150px;
}

h4{
    font-weight: 400;
    font-size: 3rem;
    margin: 10px;
    line-height: 130%;
}

.stop{
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    margin: 20px 60px;
    font-size: 20px;
    font-weight: 600;
}

.reader-config-group{
    width: 80%;
    margin: 50px auto;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
}

label{
    margin: 20px;
    justify-content: space-between;
}

select {
	background: #F0F3FB;
	border: 1px solid #F0F3FB;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	color: #3F3F3F;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.startButton {
	background-color:#438339;
	border-radius:45px;
    border: 5px solid #53f53b;
	display:inline-block;
	cursor:pointer;
    color: #53f53b;
	font-family:Arial;
    font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #53f53b;
}
.startButton:hover {
	background-color:#5cbf2a;
}
.startButton:active {
	position:relative;
	top:1px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
  }
  
  .container {
    padding: 4px 20px;
  }
#interactive{
    display: block;
    align-items: center;
    justify-content: center;
}

#resultsScreen {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


#medicineInfo {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


#medicineInfo > * {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
}

@media (max-width: 700px) {
    .header > h1{
        font-size: 100px;
    }

    h2{
        font-size: 75px;
        text-align: center;
    }

    h4{
        font-weight: 400;
        font-size: 30px;
        margin: 10px;
        line-height: 130%;
        text-align: center;
    }
  }